.image-container {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  background-color: #454545;
  img {
    -webkit-user-drag: none;
  }
  &.no-image {
    img {
      height: 120px;
    }
  }

  &:not(.no-image) {
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

.image {
  overflow: hidden;
  position: relative;
  &.editable {
    cursor: pointer;
  }

  &.contain {
    .image-container {
      background-color: inherit;
      &:not(.no-image) {
        img {
          height: 100%;
          width: 100%;
          object-fit: contain;
        }
      }
    }
  }
}
