:host {
  display: block;
  width: 400px;
}

.dialog-container {
  position: relative;

  .dialog-content {
    margin-bottom: 0;
    width: 100%;
  }
}

.dialog-actions {
  padding: 1rem 0;
  position: sticky;
  bottom: 0;
  background-color: var(--mdc-dialog-container-color);
}
