@import "assets/styles/angular-material-theming";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
  --blue-text-color: #005cbb;
}

.container {
  padding: 18px;
}

h1 {
  font-size: 2rem !important;
  line-height: 2rem !important;
}
