@use '@angular/material' as mat;

@import "assets/styles/angular-material-theming";

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #303032;
}

:root {
  --main-text-color: #ecf0f1;
}

.container {
  padding: 18px;
}

h1 {
  font-size: 1.5rem !important;
  line-height: 1.5rem !important;
  margin: 2rem 0 !important;
  text-align: center;
  color: var(--main-text-color);
}
