<mat-card class="book-card" blHoverTrigger (hoverTrigger)="cardHover.set($event)">

  <bl-book-image
    [imagePath]="book().imagePath"
    [altText]="book().title">
  </bl-book-image>

  <mat-card-content class="card-content">
    <mat-card-title [matTooltip]="book().title" blDisableTooltipIfEllipsis>{{ book().title }}</mat-card-title>

    <mat-card-subtitle>
      <div class="book-subtitle">
        <div [matTooltip]="book().authorName" blDisableTooltipIfEllipsis>
          <span class="label">Author: </span> <i>{{ book().authorName }}</i>
        </div>
        <div [matTooltip]="book().releaseDate" blDisableTooltipIfEllipsis>
          <span class="label">Release Date: </span> <i>{{ book().releaseDate | date: 'MMMM YYYY' }}</i>
        </div>
      </div>
    </mat-card-subtitle>
  </mat-card-content>

  @if (cardHover()) {
    <bl-top-actions
      (remove)="deleteBookHandler()"
      (edit)="openBookDetails()">
    </bl-top-actions>
  }
</mat-card>


