:host {
  display: block;
  cursor: pointer;
  &:hover {
    mat-card {
      transform: translateY(-7px) scale(1.03);
    }
  }
}
.book-card {
  position: relative;
}

mat-card {
  transition: .1s ease-in;
  box-shadow: none;
  border-radius: 0;
  overflow: hidden;
}

mat-card-content.card-content {
  padding: 16px;
  background-color: inherit;
  position: relative;
  z-index: 10000;
}

mat-card-title, mat-card-subtitle, mat-card-content {
  color: var(--main-text-color);
}

mat-card-subtitle {
  width: 100%;
  .book-subtitle {
    width: 100%;
    div span.label {
      color: #adadad;
      span:last-of-type {

      }
    }

    div {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
    }
  }
}

mat-card-title {
  font-size: 16px;
  line-height: 20px;
  height: 40px;
  margin-bottom: .5rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

mat-card-subtitle, mat-card-content {
  font-size: 14px;
}
